@model IEnumerable<PersonalProfileUI.Models.DTOs.ExperienceDTO>

@{
}

<h1 class="mt-3 text-center">Experience</h1>
<hr class="cornsilk-bold" />

@if (this.User.IsInRole("Owner"))
{
	<div class="d-felx justify-content-end">
		<a class="btn btn-secondary" asp-controller="Experience" asp-action="Add">Add Experience</a>
	</div>
}

@foreach (var experience in Model)
{
	<h3>@experience.Company - <span class="cornsilk-bold">@experience.Role</span></h3>
	@if (experience.EndDate < new DateTime(2020, 1, 1))
	{
		<h5><span class="darkmoss-bold">@experience.StartDate.ToString("MM/yyyy") - Current</span></h5>
	}
	else
	{
		<h5><span class="darkmoss-bold">@experience.StartDate.ToString("MM/yyyy") - @experience.EndDate.ToString("MM/yyyy")</span></h5>
	}
	<p>@experience.Description</p>
	@if (this.User.IsInRole("Owner"))
	{
		<a class="btn btn-light" asp-controller="Experience" asp-action="Edit" asp-route-id="@experience.Id">Edit</a>
	}
	<hr class="paynesgrey-bold" />
}
