@model IEnumerable<PersonalProfileUI.Models.DTOs.ProjectDTO>

@{
}

<h1 class="mt-3 text-center">Projects</h1>
<hr />

@if (this.User.IsInRole("Owner"))
{
	<div class="d-felx justify-content-end">
		<a class="btn btn-secondary" asp-controller="Project" asp-action="Add">Add Project</a>
	</div>
}

@foreach (var project in Model) 
{
	<h3>@project.Title</h3>
	<h5>@project.Aim</h5>
	<h6>@project.ImageUrl</h6>
	<p>@project.Description</p>
	@if (this.User.IsInRole("Owner"))
	{
		<a class="btn btn-light" asp-controller="Project" asp-action="Edit" asp-route-id="@project.Id">Edit</a>
	}
	<hr />
}