@model IEnumerable<PersonalProfileUI.Models.DTOs.EducationDTO>

@{
}

<h1 class="mt-3 text-center" >Education</h1>
<hr class="cornsilk-bold" />
@if (this.User.IsInRole("Owner"))
{
	<div class="d-felx justify-content-end">
		<a class="btn btn-secondary" asp-controller="Education" asp-action="Add">Add Education</a>
	</div>
}

@foreach (var education in Model)
{
	<h3>@education.University - <span class="cornsilk-bold">@education.Course (@education.Grade)</span></h3>
	<h5><span class="darkmoss-bold">@education.StartDate.ToString("MM/yyyy") - @education.EndDate.ToString("MM/yyyy")</span></h5>
	<p><span class="cornsilk-bold">Studied Courses: </span>@education.Description</p>
	@if (this.User.IsInRole("Owner"))
	{
		<a class="btn btn-light" asp-controller="Education" asp-action="Edit" asp-route-id="@education.Id">Edit</a>
	}
	<hr class="paynesgrey-bold" />
}